<!-- <p>compare-credit-cards works!</p> -->

<section id="cards_compare">
    <div class="container">
        <div class="compare-heading">
            <h3>Compare</h3>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <tr class="">
                                <div class="text-right"> <span class="material-icons">close</span> </div>
                                <div class="text-center">
                                    <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                                </div>
                                <div class="text-center card-heading">
                                    <h4>Visa Platinum Credit Card</h4>
                                </div>
                                <div class="text-center bank-img">
                                    <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                                </div>
                                <div class="card-apply-btn text-center">
                                    <button class="btn btn-md apply-now-btn">Apply Now</button>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Annual fee</h3>
                                    <p>0 SAR</p>
                                    <span>for the first year</span>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Rewards program</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Points Reward Program
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Loyality program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <tr>
                                <div class="text-right"> <span class="material-icons">close</span> </div>
                                <div class="text-center">
                                    <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                                </div>
                                <div class="text-center card-heading">
                                    <h4>Visa Platinum Credit Card</h4>
                                </div>
                                <div class="text-center bank-img">
                                    <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                                </div>
                                <div class="card-apply-btn text-center">
                                    <button class="btn btn-md apply-now-btn">Apply Now</button>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Annual fee</h3>
                                    <p>0 SAR</p>
                                    <span>for the first year</span>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Rewards program</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Points Reward Program
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Loyality program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <tr>
                                <div class="text-right"> <span class="material-icons">close</span> </div>
                                <div class="text-center">
                                    <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                                </div>
                                <div class="text-center card-heading">
                                    <h4>Visa Platinum Credit Card</h4>
                                </div>
                                <div class="text-center bank-img">
                                    <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                                </div>
                                <div class="card-apply-btn text-center">
                                    <button class="btn btn-md apply-now-btn">Apply Now</button>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Annual fee</h3>
                                    <p>0 SAR</p>
                                    <span>for the first year</span>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Rewards program</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Points Reward Program
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Loyality program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                            <tr>
                                <div class="card-content">
                                    <h3>Others</h3>
                                    <ul>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Online shopping privileges & luxury spa discounts
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Instant issuance
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            24-Hour Customer Service
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Cash Withdrawl
                                        </li>
                                        <li>
                                            <span class="material-icons custom_check">check</span>
                                            Easy Pay Program
                                        </li>
                                    </ul>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <div class="text-center">
                                <button class="btn btn-md add-card-btn" (click)="navigateToCardsList()">Add a card
                                    +</button>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- OLD UI -->

<section id="cards_compare " class="d-none">
    <div class="container">
        <div class="table-responsive">
            <table class="table custom-table">
                <thead>
                    <th></th>
                    <th>Feature 1</th>
                    <th>Feature 2</th>
                    <th>Feature 3</th>
                    <th>Feature 4</th>
                    <th>Feature 5</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="compare_card_td">
                            <h4>Visa Platinum Credit Card</h4>
                            <div class="bank_image">
                                <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                            </div>
                            <div class="card_image">
                                <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                            </div>
                        </td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons">close</span></td>
                    </tr>
                    <tr>
                        <td class="compare_card_td">
                            <h4>Visa Platinum Credit Card</h4>
                            <div class="bank_image">
                                <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                            </div>
                            <div class="card_image">
                                <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                            </div>
                        </td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons">close</span></td>
                    </tr>
                    <tr>
                        <td class="compare_card_td">
                            <h4>Visa Platinum Credit Card</h4>
                            <div class="bank_image">
                                <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                            </div>
                            <div class="card_image">
                                <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                            </div>
                        </td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons">close</span></td>
                    </tr>
                    <tr>
                        <td class="compare_card_td">
                            <h4>Visa Platinum Credit Card</h4>
                            <div class="bank_image">
                                <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                            </div>
                            <div class="card_image">
                                <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                            </div>
                        </td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons">close</span></td>
                    </tr>
                    <tr>
                        <td class="compare_card_td">
                            <h4>Visa Platinum Credit Card</h4>
                            <div class="bank_image">
                                <img src="../../../assets/images/main_images/nyad_bank.png" alt="">
                            </div>
                            <div class="card_image">
                                <img src="../../../assets/images/main_images/Group_card_compare.svg" alt="">
                            </div>
                        </td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons custom_check">check</span></td>
                        <td><span class="material-icons">close</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>