<section id="login_page">
    <div class="">
      <div class="background_shapes">
        <div class="register-container">
          <div class="top_background_shape"></div>
          <div class="bottom_background_shape">
            <div class="terms_conditions">
                <a>Privacy & Terms</a>
              </div>
          </div>
          
          <div class="register-wrapper">
            <div class="container">
                <div class="success_card py-4 mt-2 d-flex align-items-center" [routerLink]="['/creditly/cards-search']">
                    <img src="../../../../assets/images/header-images/header-main-logo.png" width="40px" alt="" />
                    <h5 class="mb-0 px-3"><b>Creditly</b></h5>
                </div>
              <div class="">
                <div class="">
                  <div class="success_card">
                    <div class="card custom-card">
                      <div class="card-body">
  
                        
                        <div class="otp-one-step">
                          <div class="main_heading">
                              <img src="../../../../assets/images/main_images/succes.PNG" width="100px"/>
                            <h5 class="my-3">Your request has been <br>submitted successfully</h5>
                          </div>
                          
                        </div>
                        <div class="creditcard-row mb-3">
                            <div class="row credit-title">
                                <div class="col-md-2 col-2 pr-0">
                                    <img src="../../../../assets/images/main_images/visa_dummy_image.png" width="100%"/>
                                </div>
                                <div class="col-md-10 col-10">
                                    <p class="cc">Credit Card</p>
                                    <p class="visa-txt">Visa Platinum <br>
                                        Credit Card</p>
                                        <div class="row disclaimer_text">
                                            <div class="col-md-7 col-12 pr-0">
                                                <p><b>Status</b> &nbsp; waiting bank approval</p>
                                            </div> 
                                            <div class="col-md-5 col-12 pr-0">
                                                <p><b>Req #</b> &nbsp; 4975498764</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Track your request from the <span class="" style="color: #09BC8A;"><u [routerLink]="['/userProfile']">requests page</u></span></p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- <div class="terms_conditions">
            <a>Privacy & Terms</a>
          </div> -->
      </div>
    </div>
  </section>
  