<div class="container">
  <div class="row mb-4">
    <div class="">
      <p class="profile-title pl-4">Pending requests</p>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-img">
                <img src="../../../../assets/images/main_images/visa_dummy_image.png" width="80px">
              </div>
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-1"><span><b>Status</b></span> &nbsp;
                  <span>waiting bank approval</span>
                </p>
                <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-sm cc-btn-dark">view</button>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-img">
                <img src="../../../../assets/images/main_images/visa_dummy_image.png" width="80px">
              </div>
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-1"><span><b>Status</b></span> &nbsp;
                  <span>waiting bank approval</span>
                </p>
                <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-sm cc-btn-primary">upload</button>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-1"><span><b>Rejection reason</b></span> &nbsp;
                  <span>Rejection reason will be detailed here in this area</span>
                </p>
                <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-img">
                <img src="../../../../assets/images/main_images/visa_dummy_image.png" width="80px">
              </div>
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-1"><span><b>Status</b></span> &nbsp;
                  <span>waiting bank approval</span>
                </p>
                <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-sm cc-btn-dark">view</button>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-img">
                <img src="../../../../assets/images/main_images/visa_dummy_image.png" width="80px">
              </div>
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-1"><span><b>Status</b></span> &nbsp;
                  <span>waiting bank approval</span>
                </p>
                <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
              <div class="text-center">
                <button class="btn btn-sm cc-btn-primary">upload</button>
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="slide">
          <div class="custom-card card">
            <div class="card-body f-12 px-3 py-4">
              <div class="cc-title">
                <p class="mb-1">Credit card</p>
                <p class="f-18 c-txt">Visa Platinum Credit Card</p>
              </div>
              <div>
                <p class="mb-2"><span><b>Rejection reason</b></span> &nbsp;
                  <span>Rejection reason will be detailed here in this area</span>
                </p>
                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                  <span>April 7, 2021</span>
                </p>
                <p class=""><span><b>Req #</b></span> &nbsp;
                  <span>4987563421</span>
                </p>
              </div>
            </div>
          </div>
        </div>

      </ngx-slick-carousel>
    </div>
  </div>
</div>
