<!-- <p>testing works!</p> -->


<div class="">
    <div class="layerMask">
        <div class="backgroundMask">
            <div class="background">
                <div class="own-bg"></div>
                <div class="content_on_grey_bg">
                    <div class="two_parts">
                        <div class="first_part">
                            <h1>Find, compare and get your financial product from Saudi banks</h1>
                        </div>
                        <div class="second_part">
                            <img src="../../../assets/images/main_images/Component_updated_personal_finance_image.svg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<svg class="d-none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1281.73" height="633.659" viewBox="0 0 1281.73 633.659">
    <defs>
      <linearGradient id="linear-gradient" x1="0.247" y1="-0.656" x2="0.599" y2="0.769" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#243655"/>
        <stop offset="1" stop-color="#fff"/>
      </linearGradient>
    </defs>
    <path id="Path_4608" data-name="Path 4608" d="M632.156-338.387V294.048l-1281.73,1.224Z" transform="translate(632.156 295.272) rotate(180)" fill="url(#linear-gradient)"/>
  </svg>

<div class="top-container">
    <h1>Scroll Down</h1>
    <p>Scroll down to see the sticky effect.</p>
</div>

<div class="header" id="myHeader">
    <h2>My Header</h2>
</div>

<div class="content">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, pariatur repellendus labore sequi omnis,
        itaque
        voluptatem voluptatum inventore minus impedit adipisci ullam magni voluptas officia assumenda autem nisi
        recusandae.
        Asperiores.
    </p>
</div>