


@import "../../../variable_styles.scss";

.add-filter-dropdown ul li a {
  padding: 5px 8px;
  font-size: 14px;
}
/* Final header styles START */

.backgroundMask {

  .background {
      position: relative;
      .own-bg {
          width: 100%;
          height: 90vh;
          margin-top: -100px;
          background-position: center center;
          background: linear-gradient(to top left, #fff 0%, #fff 50%, #bdc0c9 50%, #ffffff 60%);
      }
  }
}

.content_on_grey_bg {
  left: 15%;
  position: absolute;
  top: 25%;
  max-width: 1080px;
  width: 100%;
  .two_parts {
      display: flex;
      // align-items: center;
      .first_part {
          h1 {
              max-width: 390px;
              font-size: 50px;
              margin-right: 0px;
              width: 100%;
          }
      }
      .second_part {
        img {
          transform: rotate(2deg);
        }
      }
  }
}

/* Final header Styles END */


.layout-container {
width: 100%;
max-width: 1080px;
margin: 0 16px;
background-image: url(../../../assets/images/main_images/Component_background_lines.svg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
@include mobile {
  margin: 0px 0px;
}
}



#cards-list-page {
  /* margin-top: 350px;
  @include mobile {
    margin-top: 100px;
  } */
    .sky_background {
        // background: #0080FF 0% 0% no-repeat padding-box;
        background-color: $primary_sky_blue;
        padding: 20px 0px;
        // background-color: #EDF4FF;
        .content {
            // padding: 30px 0px;
            p {
              font-size: 13px;
              color: #777d90;
              @include mobile {
                font-size: 18px;
                text-align: center;
              }
            }
        }

        .income_half_part {
          margin: 20px 0px;
        }
        .monthly_income {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text {
            color: #282F3A;
            font-size: 15px;
            font-weight: 700;
          }
          .amount {
            color: #282F3A;
            font-size: 16px;
            font-weight: 700;
          }
          p {
            margin-bottom: 0px;
          }
        }
        .are_you_from {
          color: #282F3A;
          font-weight: 500;
          font-size: 15px;
          padding-left: 38px;
          @include mobile {
            font-weight: 700;
            padding-left: 0px;
            margin-top: 35px;
          }
        }
        .find_cards_section {
          text-align: center;
          padding: 40px 0px;
          p {
            font-size: 15px;
            color: #282F3A;
            font-weight: 500;
            margin-bottom: 0px !important;
            max-width: 500px;
            margin: 13px auto;
          } 
          .more_text {
            font-size: 12px;
            color: #898989;
            max-width: 350px;
            margin: 0px auto;
          }
          .find_cards_content {
            max-width: 488px;
            margin: auto;
          }
          .find_cards_btn {
            background-color: #282F3A;
            color: #fff;
            font-size: 19px;
            padding: 8px 22px;
            border-radius: 3px;
          }
        }
    }
    .below_slider_part {
        // display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        @include mobile {
          margin-top: 0px;
          flex-direction: column;
          align-items: flex-start;
        }
        .are_you_from {
            padding-left: 0px !important;
            .custom_select_input {
                // select, 
                input {
                    border: none;
                    background: transparent;
                    border-bottom: solid 1px #000;
                    font-weight: 600;
                    padding-right: 15px;
                }

                .select-input {
                  background: #0000;
                  border: transparent;
                  border-bottom: 2px solid #000 !important;
                  border-radius: 0px;
                  /* box-shadow: 0 32px 55px #00000040, 0 -12px 30px #0000001f, 0 4px 6px #0000001f, 0 12px 13px #0000002b, 0 -3px 5px #00000017; */
                  /* padding: 2px 5px; */
                  font-weight: bold;
                  width: 100%;
                  max-width: 120px;
                }
            }
        }
    }
    .looking_for {
        border-left: solid 1px $primary_green;
        color: $primary_green;
        font-size: 11px;
        font-weight: 500;
        padding-left: 10px;
        margin-bottom: 0px;
    }
    .cards_list {
        padding: 30px 0px;
        .filter_part {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .no_fees_and_add_filter {
          display: flex;
          align-items: center;
          .no_fees {
              background: #F2F3F6;
              padding: 10px 13px;
              margin-left: 17px;
              p {
                  margin-bottom: 0px;
                  font-size: 14px;
              }
          }
          .add_filter {
              
              font-size: 15px;
              font-weight: 700;
              border: solid 1px #000;
              border-radius: 3px;
              padding: 8px 10px;
          }
      }
        .custom-card {
            box-shadow: 0px 0px 20px #00000014;
            border: none;
            border-radius: 6px;
            margin-top: 25px;
            margin-bottom: 50px;
            .visa_main_part {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: 28px;
                }
                .share_and_compare {
                    display: flex;
                    align-items: center;
                    @include mobile {
                      display: none;
                    }
                    .user_option {
                        margin-left: 30px;
                        img {
                            margin-right: 6px;
                        }
                        span {
                            font-size: 13px;
                        }
                    }
                }
                
            }
            .visa_image {
                img {
                    max-width: 198px;
                    margin: auto;
                    height: 90px;
                    display: flex;
                }
            }
            .amount_types {
                .col-md-4 {
                    text-align: center;
                    .amount {
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        max-width: 130px;
                        margin: auto;
                        h1{
                          font-size: 1.5rem !important;
                        }
                        @include mobile {
                          width: 100%;
                          h1 {
                            font-size: 30px;
                          }
                        }
                    }
                    span {
                        margin-left: 18px;
                        margin-left: 18px;
                        @include mobile {
                          margin-left: 5px;
                        }
                    }
                    .amount_text {
                        max-width: 130px;
                        margin: auto;
                        font-size: 14px;
                        text-align: left;
                    }
                }
            }
            .apply-btn {
                background-color: $primary_green;
                color: #fff;
                font-weight: 500;
            }
            .refund_not {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin-bottom: 0px;
                    font-size: 13px;
                }
                span {
                    margin-left: 14px;
                }
                .amount {
                    font-size: 24px;
                    font-weight: 500;
                }
                img {
                    max-width: 20px;
                    // margin-right: 7px;
                }
            }
            .goto_details {
              align-items: center;
              display: inline-flex;
              span {
                font-size: 15px;
                font-weight: 600;
                margin-left: 10px;
              }
          }
        }
    }
}

.web_flight_text {
  display: block;
  @include mobile {
    display: none;
  }
}
.share_and_compare_mobile {
  display: none;
  @include mobile {
    display: block;
    .row {
      justify-content: space-around;
      margin-top: 20px;
    }
  }
}
.mobile_flight_text {
  display: none;
  @include mobile {
    display: block;
  }
}

/*  For Tabs */

.nav {
  @include mobile {
    flex-direction: column;
  }
}

.nav-pills .nav-link.active {
    background-color: #fff;
      color: #000;
      border-bottom: solid 3px $primary_green;
      border-radius: 0px;
      font-size: 18px;
      font-weight: 500;
      padding-left: 0px !important;
    &::before {
      // background-image: url(../../assets/images/header-images/triangle-green-background.png);
      // background-color: red;
      content: url(../../../assets/images/header-images/triangle-green-background.png);
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
  }
  
  .nav-pills .nav-link {
    border-radius: .25rem;
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .custom_radio_button {
    display: -webkit-inline-box;
    max-width: 100px;
    input[type=radio] {
      box-sizing: border-box;
      padding: 0;
      height: 20px;
      width: 20px;
    }
    .no_radio {
      margin-left: 30px;
    }
    .container {
      padding-left: 30px;
    }
}


::ng-deep {
  .ngx-slider .ngx-slider-bubble {
    cursor: default;
    bottom: -35px !important;
    font-weight: 500;
    padding: 1px 3px;
    color: #55637d;
    font-size: 16px;
  }
  .ngx-slider .ngx-slider-pointer {
    // background-color: $primary_green !important;
    cursor: pointer;
    width: 40px !important;
    height: 40px !important;
    top: -19px !important;
    background: url(../../../assets/images/main_images/Group_slider_bg.svg) !important;
  }
  .ngx-slider .ngx-slider-pointer:after {
      display: none !important;
  }
  .ngx-slider {
    margin: 13px 0 15px !important;
  }
  .ngx-slider .ngx-slider-selection {
    background-color: $primary_green !important;
  }
  .ngx-slider .ngx-slider-span ,.ngx-slider-bar-wrapper .ngx-slider-selection-bar {
    visibility: visible !important;
    .ngx-slider .ngx-slider-selection {
      background-color: $primary_green !important;
    }
  }
}
.err{
  color: red;
}
.noDataFound{
  font-size: 22px;
  text-align: center;
  margin-top: 80px;
  color: #5acaa1;
  font-weight: 600;

}