@import "../../../../variable_styles.scss";

.car-details {
    p{
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
    }
}
.slick-slider {
    width: 100%;
    // margin: auto;
  }
::ng-deep {
.slide{
      //width: auto !important;
      padding: 0px 13px;
      margin: 0px 5px
      //width: 750px;
  }
  .slick-track{
      display: -webkit-inline-box;
  }
}
  .slick-prev, .slick-next {
    height: 45px;
    width: 40px;
    background: #000;
    z-index: 100;
}
::ng-deep .slick-prev:before{
    color: #000 !important;
}
::ng-deep .slick-next:before{
    color: #000 !important;
}
.autolease-slider{
    .carousel{
        // height: 450px;
    }
    .carousel-indicators li{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: black;
    }
    .carousel-control-prev{
      left: -34px;
      color: black;
      .icon{
        font-size: 25px;
      }
    }
    .carousel-control-next{
      right: -34px;
      color: black;
      .icon{
        font-size: 25px;
      }
    }
}
.auto-lease-finance-section {
  // #cards-list-page {
  .filter-section {
    background-color: $primary_sky_blue;
    padding: 0px;
    .content {
      // padding: 30px 0px;
      p {
        font-size: 13px;
        color: #777d90;
      }
    }

    .monthly_income {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        color: #282f3a;
        font-size: 15px;
        font-weight: 500;
      }

      .amount {
        color: #282f3a;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        margin-bottom: 0px;
      }
    }

    .are_you_from {
      color: #282f3a;
      font-weight: 500;
      font-size: 15px;
      padding-left: 38px;
    }

    .find_cards_section {
      text-align: center;
      padding: 40px 0px;

      p {
        font-size: 15px;
        color: #282f3a;
        font-weight: 500;
        margin-bottom: 0px !important;
        max-width: 500px;
        margin: 13px auto;
      }

      .more_text {
        font-size: 12px;
        color: #898989;
        max-width: 350px;
        margin: 0px auto;
      }

      .find_cards_content {
        max-width: 488px;
        margin: auto;
      }

      .find_cards_btn {
        background-color: #282f3a;
        color: #fff;
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 3px;
        width: 200px;
      }
    }

    .below_slider_part {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 70px;

      .are_you_from {
        padding-left: 0px !important;

        .custom_select_input {
          select,
          input {
            border: none;
            background: transparent;
            border-bottom: solid 1px #000;
            font-weight: 600;
            padding-right: 15px;
          }
        }
      }
    }
  }

  // }
  .cards_list {
    padding: 30px 0px;

    .filter_part {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .no_fees_and_add_filter {
      display: flex;
      align-items: center;
      .no_fees {
        background: #F2F3F6;
        padding: 10px 13px;
        margin-left: 17px;
        p {
            margin-bottom: 0px;
            font-size: 14px;
        }
    }

      .add_filter {
              font-weight: 700;
              border: solid 1px #000;
              border-radius: 3px;
              padding: 8px 10px;
      }
    }

    .custom-card {
      box-shadow: 0px 0px 20px #00000014;
      border: none;
      border-radius: 6px;
      margin: 20px 0px 50px 0px;

      .visa_main_part {
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 28px;
        }
        .share_and_compare {
          display: flex;
          .user_option {

            img {
              margin-right: 6px;
            }

            span {
              font-size: 13px;
            }
          }
        }
      }

      .visa_image {
        img {
          max-width: 198px;
          margin: 10px auto;
          height: 90px;
          display: flex;
        }
      }

      .amount_types {
        .col-md-4 {
          text-align: center;

          .amount {
            display: flex;
            align-items: center;
            // justify-content: center;
            max-width: 130px;
            margin: auto;
          }

          span {
            margin-left: 18px;
          }

          .amount_text {
            max-width: 130px;
            margin: auto;
            font-size: 14px;
            text-align: left;
          }
        }
      }

      .apply-btn {
        background-color: $primary_green;
        color: #fff;
        font-weight: 500;
      }

      .refund_not {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin-bottom: 0px;
          font-size: 13px;
        }

        span {
          margin-left: 14px;
        }

        .amount {
          font-size: 24px;
          font-weight: 500;
        }

        img {
          max-width: 20px;
          // margin-right: 7px;
        }
      }

      .goto_details {
          display: inline-flex;
          align-items: center;
        span {
          font-size: 16px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }
}
.custom_radio_button {
  display: -webkit-inline-box;
  max-width: 100px;
  input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 20px;
    width: 20px;
  }
  .no_radio {
    margin-left: 30px;
  }
  .container {
    padding-left: 30px;
  }
}
.radio-tabs {
    justify-content: space-between;
    display: flex;
    input[type="radio"] {
        display: none;
      }
      
      input[type="radio"] + label {
        display: inline-block;
        padding: 4px 30px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 20px;
        color: #333;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
      
      input[type="radio"]:checked + label {
        background-image: none;
        outline: 0;
        background-color: #09bc8a;
        color: #fff;
        border-radius: 20px;
        padding: 4px 30px;
      }
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 15px solid #000;
    border-bottom: 8px solid transparent;
  }
  ::ng-deep {
    .ngx-slider .ngx-slider-bubble {
      cursor: default;
      bottom: -35px !important;
      font-weight: 500;
      padding: 1px 3px;
      color: #55637d;
      font-size: 16px;
    }
    .ngx-slider .ngx-slider-pointer {
      // background-color: $primary_green !important;
      cursor: pointer;
      width: 40px !important;
      height: 40px !important;
      top: -19px !important;
      // background: url(../../../assets/images/main_images/Group_slider_bg.svg) !important;
      background: url(../../../../assets//images/main_images/Group_slider_bg.svg) !important;
    }
    .ngx-slider .ngx-slider-pointer:after {
        display: none !important;
    }
    .ngx-slider {
      margin: 13px 0 15px !important;
    }
    .ngx-slider .ngx-slider-selection {
      background-color: $primary_green !important;
    }
    .ngx-slider .ngx-slider-span ,.ngx-slider-bar-wrapper .ngx-slider-selection-bar {
      visibility: visible !important;
      .ngx-slider .ngx-slider-selection {
        background-color: $primary_green !important;
      }
    }
  }
@media screen and (max-width: 767px) {
  .auto-lease-finance-section .cards_list .custom-card .visa_main_part {
    display: block;
  }
  .filter-section-modal {
    background-color: $primary_sky_blue;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    p {
      margin-bottom: 0px;
    }
  }
  .filter-row {
    display: grid;
    grid-gap: 40px;
  }
  .f-s {
    z-index: 999;
  }
  .below_slider_part {
    grid-gap: 25px;
    flex-wrap: wrap;
  }
  .radio-tabs{
      display: grid;
      grid-gap: 15px;
      grid-template-columns: auto auto;
  }
  .amount_types{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
     h2{
         font-size: 1.5rem;
     }
  }
  .refund-row{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-top: 20px;
    padding: 0px 10px;
  }
  .auto-lease-finance-section .cards_list .custom-card .refund_not{
    justify-content: flex-start;
    }
  .auto-lease-finance-section .cards_list .custom-card .refund_not .amount{
    font-size: 14px;
}

}
@media screen and (max-width: 991px){

}


