@import "../../variable_styles.scss";

#cards-list-page {
    .sky_background {
        // background: #0080FF 0% 0% no-repeat padding-box;
        background-color: $primary_sky_blue;
        padding: 20px 0px;
        // background-color: #EDF4FF;
        .content {
            // padding: 30px 0px;
            p {
              font-size: 13px;
              color: #777d90;
            }
        }
        .monthly_income {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text {
            color: #282F3A;
            font-size: 15px;
            font-weight: 500;
          }
          .amount {
            color: #282F3A;
            font-size: 16px;
            font-weight: 600;
          }
          p {
            margin-bottom: 0px;
          }
        }
        .are_you_from {
          color: #282F3A;
          font-weight: 500;
          font-size: 15px;
          padding-left: 38px;
        }
        .find_cards_section {
          text-align: center;
          padding: 40px 0px;
          p {
            font-size: 15px;
            color: #282F3A;
            font-weight: 500;
            margin-bottom: 0px !important;
            max-width: 500px;
            margin: 13px auto;
          } 
          .more_text {
            font-size: 12px;
            color: #898989;
            max-width: 350px;
            margin: 0px auto;
          }
          .find_cards_content {
            max-width: 488px;
            margin: auto;
          }
          .find_cards_btn {
            background-color: #282F3A;
            color: #fff;
            font-size: 19px;
            padding: 8px 22px;
            border-radius: 3px;
          }
        }
    }
    .looking_for {
        border-left: solid 1px $primary_green;
        color: $primary_green;
        font-size: 11px;
        font-weight: 500;
        padding-left: 10px;
        margin-bottom: 0px;
    }
    .cards_list {
        padding: 30px 0px;
        .filter_part {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .no_fees_and_add_filter {
            display: flex;
            align-items: center;
            .no_fees {
                background: #F2F3F6;
                padding: 5px 10px;
                p {
                    margin-bottom: 0px;
                    font-size: 14px;
                }
            }
            .add_filter {
                margin-left: 17px;
                font-size: 15px;
                font-weight: 700;
            }
        }
        .custom-card {
            box-shadow: 0px 0px 20px #00000014;
            border: none;
            border-radius: 6px;
            margin-top: 20px;
            .visa_main_part {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: 28px;
                }
                .share_and_compare {
                    display: flex;
                    align-items: center;
                    .user_option {
                        margin-left: 30px;
                        img {
                            margin-right: 6px;
                        }
                        span {
                            font-size: 13px;
                        }
                    }
                }
                
            }
            .visa_image {
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 175px;
                }
            }
            .amount_types {
                .col-md-4 {
                    text-align: center;
                    .amount {
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        max-width: 130px;
                        margin: auto;
                    }
                    span {
                        margin-left: 18px;
                    }
                    .amount_text {
                        max-width: 130px;
                        margin: auto;
                        font-size: 14px;
                        text-align: left;
                    }
                }
            }
            .apply-btn {
                background-color: $primary_green;
                color: #fff;
                font-weight: 500;
            }
            .refund_not {
                span {
                    margin-left: 14px;
                }
            }
            .goto_details {
                span {
                    font-size: 20px;
                    font-weight: 500;
                    margin-left: 17px;
                }
            }
        }
    }
}

/*  For Tabs */

.nav-pills .nav-link.active {
    background-color: #fff;
      color: #000;
      border-bottom: solid 3px $primary_green;
      border-radius: 0px;
      font-size: 18px;
      font-weight: 500;
      padding-left: 0px !important;
    &::before {
      // background-image: url(../../assets/images/header-images/triangle-green-background.png);
      // background-color: red;
      content: url(../../assets/images/header-images/triangle-green-background.png);
      height: 20px;
      width: 20px;
      margin-right: 8px;
    }
  }
  
  .nav-pills .nav-link {
    border-radius: .25rem;
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .custom_radio_button {
    input[type=radio] {
      box-sizing: border-box;
      padding: 0;
      height: 20px;
      width: 20px;
  }
  .no_radio {
    margin-left: 30px;
  }
}


::ng-deep {
  .ngx-slider .ngx-slider-bubble {
    cursor: default;
    bottom: -35px !important;
    font-weight: 500;
    padding: 1px 3px;
    color: #55637d;
    font-size: 16px;
  }
  .ngx-slider .ngx-slider-pointer {
    // background-color: $primary_green !important;
    cursor: pointer;
    width: 40px !important;
    height: 40px !important;
    top: -19px !important;
    background: url(../../assets/images/main_images/Group_slider_bg.svg) !important;
  }
  .ngx-slider .ngx-slider-pointer:after {
      display: none !important;
  }
  .ngx-slider {
    margin: 13px 0 15px !important;
  }
  .ngx-slider .ngx-slider-selection {
    background-color: $primary_green !important;
  }
  .ngx-slider .ngx-slider-span ,.ngx-slider-bar-wrapper .ngx-slider-selection-bar {
    visibility: visible !important;
    .ngx-slider .ngx-slider-selection {
      background-color: $primary_green !important;
    }
  }
}