<div class="container">
    <div class="row mb-4">
        <div class="">
            <p class="req-title pl-3">Pending</p>
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" 
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-dark">view</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-primary">upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Rejection reason</b></span> &nbsp;
                                    <span>Rejection reason will be detailed here in this area</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-dark">view</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-primary">upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Rejection reason</b></span> &nbsp;
                                    <span>Rejection reason will be detailed here in this area</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ngx-slick-carousel>
        </div>
    </div>
    <div class="row mb-4">
        <div class="">
            <p class="req-title pl-3">Rejected</p>
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" 
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                              <p class="mb-1">Credit card</p>
                              <p class="f-18 c-txt">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                              <p class="mb-1"><span><b>Rejection reason</b></span> &nbsp;
                                <span>Rejection reason will be detailed here in this area</span>
                              </p>
                              <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                                <span>April 7, 2021</span>
                              </p>
                              <p class=""><span><b>Req #</b></span> &nbsp;
                                <span>4987563421</span>
                              </p>
                            </div>
                          </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                              <p class="mb-1">Credit card</p>
                              <p class="f-18 c-txt">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                              <p class="mb-1"><span><b>Rejection reason</b></span> &nbsp;
                                <span>Rejection reason will be detailed here in this area</span>
                              </p>
                              <p class="mb-1"><span><b>Req Date</b></span> &nbsp;
                                <span>April 7, 2021</span>
                              </p>
                              <p class=""><span><b>Req #</b></span> &nbsp;
                                <span>4987563421</span>
                              </p>
                            </div>
                          </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Rejection reason</b></span> &nbsp;
                                    <span>Rejection reason will be detailed here in this area</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-dark">view</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card banner">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Status</b></span> &nbsp;
                                    <span>waiting bank approval</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm cc-btn-primary">upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="custom-card card">
                        <div class="card-body f-12 px-3 py-4">
                            <div class="cc-title">
                                <p class="mb-0">Credit card</p>
                                <p class="f-18">Visa Platinum Credit Card</p>
                            </div>
                            <div>
                                <p class="mb-2"><span><b>Rejection reason</b></span> &nbsp;
                                    <span>Rejection reason will be detailed here in this area</span>
                                </p>
                                <p class="mb-2"><span><b>Req Date</b></span> &nbsp;
                                    <span>April 7, 2021</span>
                                </p>
                                <p class="mb-2"><span><b>Req #</b></span> &nbsp;
                                    <span>4987563421</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ngx-slick-carousel>
        </div>
    </div>
    <div class="row m-0">
        <div class="d-flex justify-content-between w-100">
            <p><b>History</b></p>
            <p><b>Filter</b></p>
        </div>
        <div class="table-responsive">
            <table class="table req-table">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/images/main_images/credit.png" height="45px" />
                        </td>
                        <td>
                            <p class="mb-0">Credit card</p>
                            <p class="m-0 f-14">Visa Platinum Credit Card</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">March 10,2021</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">Accepted</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/main_images/credit.png" height="45px" />
                        </td>
                        <td>
                            <p class="mb-0">Credit card</p>
                            <p class="m-0 f-14">Visa Platinum Credit Card</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">March 10,2021</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">Accepted</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/main_images/credit.png" height="45px" />
                        </td>
                        <td>
                            <p class="mb-0">Credit card</p>
                            <p class="m-0 f-14">Visa Platinum Credit Card</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">March 10,2021</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">Accepted</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/images/main_images/credit.png" height="45px" />
                        </td>
                        <td>
                            <p class="mb-0">Credit card</p>
                            <p class="m-0 f-14">Visa Platinum Credit Card</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">March 10,2021</p>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0">Accepted</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>