<div class="container">
    <div class="row">
        <h5>You are applying to</h5>
        <div class="col-md-12">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="visa_main_part">
                        <div>
                            <h1>Visa Platinum Credit Card</h1>
                            
                        </div>
                        
                    </div>
                    <div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-md-4">
                                <div class="visa_image">
                                    <img src="../../../assets/images/main_images/visa_dummy_image.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row amount_types">
                                    <div class="col-md-4">
                                        <div class="amount">
                                            <h2>0</h2> <span>SAR</span>
                                        </div>
                                        <div class="amount_text">
                                            <p>All Payments Including Fees</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="amount">
                                            <h2>1,424</h2> <span>%</span>
                                        </div>
                                        <div class="amount_text">
                                            <p>Monthly Installment</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="amount">
                                            <h2>1.1</h2> <span>%</span>
                                        </div>
                                        <div class="amount_text">
                                            <p>Management Fees</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-8">
                                <div class="row text-center refund-row">
                                    <div class="col-md-4 refund_not">
                                        <p>APR</p><span class="amount">3.6 %</span>
                                    </div>
                                    <div class="col-md-4 refund_not">
                                        <p>APR</p><span class="amount">3.6 %</span>
                                    </div>
                                    <div class="col-md-4 refund_not">
                                        <img src="../../../assets/images/main_images/insured.PNG" alt="">
                                        <span>Insurance included</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="goto_details">
                                <img src="../../assets/images/main_images/triangle.svg" alt="">
                                <span>Card Details</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>