<!-- <section class="global_main_section"> -->
   
    <section class="d-none">
        <div class="layerMask">
            <div class="backgroundMask">
                <div class="background">
                    <div class="own-bg"></div>
                </div>
            </div>
            <div class="container mainPart-container">
                <div class="layout-container">
                    <div class="layout-content">
                        <!-- column-layout -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="header_main_text">
                                        <h1>Find and <br> compare auto lease products across Saudi banks</h1>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="header_main_image">
                                        <img src="../../../../assets/images/main_images/auto_lease_header_image.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="">
        <div class="layerMask">
            <div class="backgroundMask">
                <div class="background">
                    <div class="own-bg"></div>
                    <div class="content_on_grey_bg">
                        <div class="two_parts">
                            <div class="first_part">
                                <h1>Find and <br> compare auto lease products across Saudi banks</h1>
                            </div>
                            <div class="second_part">
                                <img src="../../../../assets/images/main_images/auto_lease_header_image.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="auto-lease-home">
        <!-- <div> -->
        <div class="tab-section">
            <div class="container">
                <p class="looking_for">I WANT TO</p>
                <!-- nav options -->
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-finance-tab" data-toggle="pill" href="#pills-finance"
                            role="tab" aria-controls="pills-finance" aria-selected="true">Check how much im eligible for
                        </a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" id="pills-car-tab" data-toggle="pill" href="#pills-car"
                            role="tab" aria-controls="pills-car" aria-selected="false">Get finance for specific car
                            model</a> </li>

                </ul>
            </div>
        </div>
        <div class="tab-content-section">
            <div class="">
                <div class="tab-content" id="pills-tabContent p-3">
                    <!-- 1st tab -->
                    <div class="tab-pane fade show active" id="pills-finance" role="tabpanel"
                        aria-labelledby="pills-finance-tab">
                        <div class="">
                            <app-auto-lease-finance></app-auto-lease-finance>
                        </div>

                    </div>
                    <!-- 2nd tab -->
                    <div class="tab-pane fade" id="pills-car" role="tabpanel" aria-labelledby="pills-car-tab">
                        <div class="">
                            <app-auto-lease-car-info></app-auto-lease-car-info>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- </div> -->
    </section>


<!-- </section> -->