<section id="login_page">
    <div class="">
      <div class="background_shapes">
        <div class="register-container">
          <div class="top_background_shape"></div>
          <div class="bottom_background_shape">
            <div class="terms_conditions">
                <a>Privacy & Terms</a>
              </div>
          </div>
          
          <div class="register-wrapper">
            <div class="">
                <div class="failure_card py-4 mt-2 d-flex align-items-center" [routerLink]="['/creditly/cards-search']">
                  
                    <img src="../../../../assets/images/header-images/header-main-logo.png" width="40px" alt="" />
                
                    <h5 class="mb-0 px-3"><b>Creditly</b></h5>
                </div>
              <div class="">
                <div class="">
                  <div class="failure_card">
                    <div class="card custom-card">
                      <div class="card-body">
  
                        
                        <div class="otp-one-step">
                          <div class="main_heading">
                              <img src="../../../../assets/images/main_images/cancelled.PNG" width="100px"/>
                              <div class="py-4">
                                <h3 class="mb-1"><strong>Sorry !</strong></h3>
                                <h5 class="mb-0">We could not find the page you are looking for</h5>
                              </div>
                            
                          </div>
                          
                        </div>
                      
                        <div class="row">
                            <div class="col-md-12 col-12 text-center">
                                <p class="go_home">
                                    <span
                                        class="material-icons-outlined">
                                        chevron_left
                                      </span> <span class="mr-5"> &nbsp;Go back</span>
                                      <span
                                        class="material-icons-outlined">
                                        home
                                      </span> <span class=""> &nbsp; Home page</span>
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- <div class="terms_conditions">
            <a>Privacy & Terms</a>
          </div> -->
      </div>
    </div>
  </section>
  