<!-- <p>creditly-b2b works!</p> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> 

<!-- <div class="main-header">
    <ul class="nav justify-content-center pt-4">
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#">Credit Card</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Personal Finance</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Auto Lease</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mortgage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bank Account</a>
          </li>
      </ul>
</div> -->