<!-- <p>personal-finance works!</p> -->

<!-- <section class="global_main_section"> -->
<section class="page_variable_section d-none">
    <div class="header_starts"></div>
    <div class="container">
        <div class="variable_text_image">
            <div class="">
                <div class="header_main_text">
                    <h1>Find and compare personal finance products across Saudi banks</h1>
                </div>
                <div class="header_main_image">
                    <!-- <img src="../../../assets/images/main_images/personal_finance-header_image.svg" alt=""> -->
                    <img src="../../../assets/images/main_images/Component_updated_personal_finance_image.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="d-none">
    <div class="layerMask">
        <div class="backgroundMask">
            <div class="background">
                <div class="own-bg"></div>
            </div>
        </div>
        <div class="container mainPart-container">
            <div class="layout-container">
                <div class="layout-content">
                    <!-- column-layout -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="header_main_text">
                                    <h1>Find and compare personal finance products across Saudi banks</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header_main_image">
                                    <img src="../../../assets/images/main_images/Component_updated_personal_finance_image.svg"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="">
    <div class="layerMask">
        <div class="backgroundMask">
            <div class="background">
                <div class="own-bg"></div>
                <div class="content_on_grey_bg">
                    <div class="two_parts">
                        <div class="first_part">
                            <h1>Find and compare personal finance products across Saudi banks</h1>
                        </div>
                        <div class="second_part">
                            <img src="../../../assets/images/main_images/Component_updated_personal_finance_image.svg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="cards-list-page">
    <div>
        <div>
            <div class="container">
                <div class="layout-container">
                    <p class="looking_for">I AM LOOKING FOR</p>
                    <!-- nav options -->
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" (click)="setLoanType(0)">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">Finance
                            </a>
                        </li>
                        <li class="nav-item" (click)="setLoanType(10)"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                href="#pills-profile" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Refinance</a> </li>
                        <li class="nav-item" (click)="setLoanType(11)">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                role="tab" aria-controls="pills-contact" aria-selected="false">
                                Payout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form [formGroup]="formGroup">
        <div class="sky_background">
            <div class="container">
                <div class="layout-container">
                    <div class="tab-content" id="pills-tabContent p-3">
                        <!-- 1st card -->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab" *ngIf="loansTypeID==0">
                            <div class="content">
                                <p>Set your personal and financial details</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 income_half_part">
                                    <div class="monthly_income">
                                        <p class="text">Your Monthly Income</p>
                                        <p class="amount">{{formGroup?.value?.NetSalary | currency: "SAR"}}</p>
                                    </div>
                                    <div class="slider-margin">
                                        <ngx-slider formControlName="NetSalary" [options]="options1"></ngx-slider>
                                    </div>
                                </div>
                                <div class="col-md-6 income_half_part">
                                    <div class="monthly_income">
                                        <p class="text">Finance period</p>
                                        <p class="amount">Year {{formGroup?.value?.Period}}</p>
                                    </div>
                                    <div class="slider-margin">
                                        <ngx-slider formControlName="Period" [options]="options2"></ngx-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 col-md-12">
                                <div class="below_slider_part row">
                                    <div class="are_you_from col-md-4 text-left">
                                        <p>Are you Saudi?</p>
                                        <div class="custom_radio_button">
                                            <label class="container">Yes
                                                <input name="NationalityID" type="radio" (click)="radio(1)" [checked]="formGroup?.value?.NationalityID==1">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">No
                                                <input name="NationalityID" type="radio" (click)="radio(2)" [checked]="formGroup?.value?.NationalityID==2">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- <span><input type="radio" name="from" id="yes" checked> Yes</span>
                                            <span class="no_radio"><input type="radio" name="from" id="no"> No</span> -->
                                        </div>
                                    </div>
                                    <div class="are_you_from col-md-4 text-center">
                                        <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['WorkTypeID'].errors
                                              }">Employer type</p>
                                        <div class="custom_select_input">
                                        <select class="select-input" name="cars" id="cars" formControlName="WorkTypeID" (change)="filter($event)">
                                            <option *ngFor="let res of workTypes;let i=index;" [value]="res.id">{{res.name}}</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="are_you_from col-md-4 text-center">
                                        <p>Salary transfer?</p>
                                        <div class="custom_radio_button last_custom_radio_btn">
                                            <label class="container">Yes
                                                <input name="HasNoSalaryTransfer" type="radio" (click)="Salary(false)" [checked]="formGroup?.value?.HasNoSalaryTransfer==false">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container">No
                                                <input name="HasNoSalaryTransfer" (click)="Salary(true)"type="radio" [checked]="formGroup?.value?.HasNoSalaryTransfer==true">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- <span><input type="radio" name="to" id="yes" checked> Yes</span>
                                            <span class="no_radio"><input type="radio" name="to" id="no"> No</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="find_cards_section">
                                    <button class="btn btn-md find_cards_btn"  [disabled]="finding" (click)="findFinance()">FIND A FINANCE</button>
                                    <!-- <div class="find_cards_content"> -->
                                    <p>One click to see all credit cards from all Saudi banks</p>
                                    <p class="more_text">e.g. Alrajhi Bank, Riyad Bank, Alinma bank, Albilad Bank,
                                        Aljazirah bank,
                                        NCB,
                                        ANB and more…</p>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div> 
                        
                        
                        
                        
                        
                        
                        <!-- 2nd card -->
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab" *ngIf="loansTypeID==10">
                            <div>
                                <div class="content">
                                    <p>Your current finance</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Personal Finance Amount</p>
                                            <p class="amount">SAR 25,000</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="PersonalFinanceAmount" [options]="options1"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Finance period</p>
                                            <p class="amount">Year {{formGroup?.value?.Period}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="PersonalFinancePeriod" [options]="options2"></ngx-slider>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 col-md-12">
                                    <div class="below_slider_part row">
                                        <div class="are_you_from col-md-4 text-left">
                                            <p>How much you paid so far?</p>
                                            <div class="custom_select_input">
                                                <input type="number" formControlName="PersonalFinancePaidAmount">
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <div class="custom_select_input">
                                                <label for="" [ngClass]="{
                                                    err:
                                                      FormValidationFlag &&
                                                      formGroup.controls['PersonalFinanceStartPaying'].errors
                                                  }">When you start paying?</label>
                                                <input type="date" class="select-input" formControlName="PersonalFinanceStartPaying"
                                                
                                                />
                                              </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['BankID'].errors
                                              }">Financing bank</p>
                                            <div class="custom_select_input">
                                              <select name="cars" id="cars" class="select-input" formControlName="BankID" (change)="filterDate($event)">
                                                    <option *ngFor="let res of banks;let i=index;" [value]="res.id">{{res.name}}</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="content">
                                    <p>Set your personal and financial details</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Your Monthly Income</p>
                                            <p class="amount">{{formGroup?.value?.NetSalary | currency: "SAR"}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="NetSalary" [options]="options1"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Finance period</p>
                                            <p class="amount">Year {{formGroup?.value?.Period}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="Period" [options]="options2"></ngx-slider>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 col-md-12">
                                    <div class="below_slider_part row">
                                        <div class="are_you_from col-md-4 text-left">
                                            <p>Are you Saudi?</p>
                                            <div class="custom_radio_button">
                                                <label class="container">Yes
                                                    <input name="NationalityID" type="radio" (click)="radio(1)" [checked]="formGroup?.value?.NationalityID==1">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container">No
                                                    <input name="NationalityID" type="radio" (click)="radio(2)" [checked]="formGroup?.value?.NationalityID==2">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- <span><input type="radio" name="from" id="yes" checked> Yes</span>
                                                <span class="no_radio"><input type="radio" name="from" id="no"> No</span> -->
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['WorkTypeID'].errors
                                              }">Employer type</p>
                                            <div class="custom_select_input">
                                            <select class="select-input" name="cars" id="cars" formControlName="WorkTypeID" (change)="filter($event)">
                                                <option *ngFor="let res of workTypes;let i=index;" [value]="res.id">{{res.name}}</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p>Salary transfer?</p>
                                            <div class="custom_radio_button last_custom_radio_btn">
                                                <label class="container">Yes
                                                    <input name="HasNoSalaryTransfer" type="radio" (click)="Salary(false)" [checked]="formGroup?.value?.HasNoSalaryTransfer==false">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container">No
                                                    <input name="HasNoSalaryTransfer" (click)="Salary(true)"type="radio" [checked]="formGroup?.value?.HasNoSalaryTransfer==true">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- <span><input type="radio" name="to" id="yes" checked> Yes</span>
                                                <span class="no_radio"><input type="radio" name="to" id="no"> No</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="find_cards_section">
                                        <button class="btn btn-md find_cards_btn" [disabled]="finding" (click)="findFinance()">FIND A FINANCE</button>
                                        <!-- <div class="find_cards_content"> -->
                                        <p>One click to see all credit cards from all Saudi banks</p>
                                        <p class="more_text">e.g. Alrajhi Bank, Riyad Bank, Alinma bank, Albilad Bank,
                                            Aljazirah bank,
                                            NCB,
                                            ANB and more…</p>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                        
                        
                        
                        
                        
                        <!-- 3nd card -->
                        <div class="tab-pane fade third" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab" *ngIf="loansTypeID==11">
                            <div>
                                <div class="content">
                                    <p>Your current finance</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Personal Finance Amount</p>
                                            <p class="amount">SAR 25,000</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="PersonalFinanceAmount" [options]="options1"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Finance period</p>
                                            <p class="amount">Year {{formGroup?.value?.Period}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="PersonalFinancePeriod" [options]="options2"></ngx-slider>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 col-md-12">
                                    <div class="below_slider_part row">
                                        <div class="are_you_from col-md-4 text-left" >
                                            <p>Finance rate</p>
                                            <div class="custom_select_input">
                                                <input type="text" formControlName="PersonalFinanceRate">
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <div class="custom_select_input">
                                            <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['PersonalFinanceStartPaying'].errors
                                              }">When you start paying?</p>
                                            <input type="date" class="select-input"  formControlName="PersonalFinanceStartPaying"
                                           />
                                        </div>
                                    </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['BankID'].errors
                                              }" >Financing bank</p>
                                            <div class="custom_select_input">
                                                <select name="cars" id="cars" class="select-input" formControlName="BankID" (change)="filterDate($event)">
                                                    <option *ngFor="let res of banks;let i=index;" [value]="res.id">{{res.name}}</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="content">
                                    <p>Set your personal and financial details</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Your Monthly Income</p>
                                            <p class="amount">{{formGroup?.value?.NetSalary | currency: "SAR"}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="NetSalary" [options]="options1"></ngx-slider>
                                        </div>
                                    </div>
                                    <div class="col-md-6 income_half_part">
                                        <div class="monthly_income">
                                            <p class="text">Finance period</p>
                                            <p class="amount"> Year {{formGroup?.value?.Period}}</p>
                                        </div>
                                        <div class="slider-margin">
                                            <ngx-slider formControlName="Period" [options]="options2"></ngx-slider>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 col-md-12">
                                    <div class="below_slider_part row">
                                        <div class="are_you_from col-md-4 text-left">
                                            <p>Are you Saudi?</p>
                                            <div class="custom_radio_button">
                                                <label class="container">Yes
                                                    <input name="NationalityID" type="radio" (click)="radio(1)" [checked]="formGroup?.value?.NationalityID==1">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container">No
                                                    <input name="NationalityID" type="radio" (click)="radio(2)" [checked]="formGroup?.value?.NationalityID==2">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- <span><input type="radio" name="from" id="yes" checked> Yes</span>
                                                <span class="no_radio"><input type="radio" name="from" id="no"> No</span> -->
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p [ngClass]="{
                                                err:
                                                  FormValidationFlag &&
                                                  formGroup.controls['WorkTypeID'].errors
                                              }">Employer type</p>
                                            <div class="custom_select_input">
                                                <select class="select-input" name="cars" id="cars" formControlName="WorkTypeID" (change)="filter($event)">
                                                    <option *ngFor="let res of workTypes;let i=index;" [value]="res.id">{{res.name}}</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="are_you_from col-md-4 text-center">
                                            <p>Salary transfer?</p>
                                            <div class="custom_radio_button last_custom_radio_btn">
                                                <label class="container">Yes
                                                    <input name="HasNoSalaryTransfer" type="radio" (click)="Salary(false)" [checked]="formGroup?.value?.HasNoSalaryTransfer==false">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container">No
                                                    <input name="HasNoSalaryTransfer" (click)="Salary(true)"type="radio" [checked]="formGroup?.value?.HasNoSalaryTransfer==true">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- <span><input type="radio" name="to" id="yes" checked> Yes</span>
                                                <span class="no_radio"><input type="radio" name="to" id="no"> No</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="find_cards_section">
                                        <button class="btn btn-md find_cards_btn" [disabled]="finding" (click)="findFinance()">FIND A FINANCE</button>
                                        <!-- <div class="find_cards_content"> -->
                                        <p>One click to see all credit cards from all Saudi banks</p>
                                        <p class="more_text">e.g. Alrajhi Bank, Riyad Bank, Alinma bank, Albilad Bank,
                                            Aljazirah bank,
                                            NCB,
                                            ANB and more…</p>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <div>





        <div class="cards_list">
            <div class="container">
                <div class="filter_part">
                    <p>Filter</p>
                    <p>Sort</p>
                </div>
                <div class="no_fees_and_add_filter">
                    <div class="dropdown add-filter-dropdown">
                        <div class="add_filter dropdown-toggle" data-toggle="dropdown">Add filter +</div>
                        <ul class="dropdown-menu">
                            <!-- <li (click)="filterForList(2,true,0)"><a>Rewards</a></li> -->
                            <li (click)="setValues(true,1,'Murabaha',0,'Murabaha')"><a>Murabaha</a></li>
                            <li (click)="setValues(true,2,'Tawaruq',0,'Tawaruq')"><a>Tawaruq</a></li>
                            <li (click)="setValues(true,3,'SupportedByREDF',0,'Supported By REDF')"><a>Supported By REDF</a></li>
                            <li (click)="setValues(true,4,'Shariah_Compliant',0,'Shariah compliance')"><a>Shariah compliance</a></li>
                        </ul>
                    </div>

                    <div class="no_fees" *ngFor="let com of complainFilter;let i =index;" (click)="setValues(false,com.id,com.element,i,'')">
                        <p ><span>X</span> {{com.name}}</p>
                    </div>
                </div>
                <div>
                    <div class="card custom-card" *ngFor="let product of financeProduct;let i=index;">
                        <div class="card-body">
                            <div class="visa_main_part">
                                <div>
                                    <h1>{{product?.name}}</h1>
                                    <p *ngIf="product?.shariah_Compliant"><span><img src="../../../assets/images/main_images/title.PNG" width="30px"
                                                alt=""></span> &nbsp;<span>Shariah complaint</span>
                                    </p>

                                </div>
                                <div class="share_and_compare">
                                    <div class="user_option">
                                        <img src="../../../assets/images/main_images/np_share.svg" alt="">
                                        <span>Share</span>
                                    </div>
                                    <div class="user_option">
                                        <img src="../../../assets/images/main_images/np_add.svg" alt="">
                                        <span>Add to compare</span>
                                    </div>
                                </div>
                                <div class="mobile_flight_text">
                                    <div class="row text-center ">
                                        <div *ngIf="product?.murabaha" class="col-md-4 col-6 refund_not">
                                            <img src="../../../assets/images/main_images/np_airplane.svg" alt="">
                                            <span>Mrabaha</span>
                                        </div>
                                        <div class="col-md-4 col-6 refund_not">
                                            <!-- <img src="../../../assets/images/main_images/np_airplane.svg" alt="">
                                            <span>Mrabaha</span> -->
                                        </div>
                                        <div class="col-md-4 col-6"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row mt-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="visa_image">
                                            <img src="{{product?.image}}" alt=""
                                                 onerror="this.onerror=null;this.src='../../../assets/images/main_images/bank_almad.png';"
                                            >
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row amount_types">
                                            <div class="col-md-4 col-6">
                                                <div class="amount">
                                                    <h1>{{product?.totalPayments}}</h1> <span>SAR</span>
                                                </div>
                                                <div class="amount_text">
                                                    <p>All Payments Including Fees</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-6">
                                                <div class="amount">
                                                    <h1>{{product?.monthlyInstallment}}</h1> <span>%</span>
                                                </div>
                                                <div class="amount_text">
                                                    <p>Monthly Installment</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-6">
                                                <div class="amount">
                                                    <h1>{{FilterValue(1,product?.fees)}}</h1> <span>%</span>
                                                </div>
                                                <div class="amount_text">
                                                    <p>Management Fees</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 align-items-center">
                                    <div class="col-md-4">
                                        <div>
                                            <button class="btn btn-md btn-block apply-btn">Apply Now</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row text-center">
                                            <div class="col-md-4 col-6 refund_not">
                                                <p>APR</p><span class="amount">{{product?.apr}} %</span>
                                            </div>
                                            <div class="col-md-4 col-6 refund_not web_flight_text d-none d-md-block" *ngIf="product?.murabaha">
                                                <img src="../../../assets/images/main_images/np_airplane.svg" alt="">
                                                <span>Mrabaha</span>
                                            </div>
                                        </div>
                                        <div class="share_and_compare_mobile">
                                            <div class=" row">
                                                <div class="user_option">
                                                    <img src="../../../assets/images/main_images/np_share.svg" alt="">
                                                    <span>Share</span>
                                                </div>
                                                <div class="user_option">
                                                    <img src="../../../assets/images/main_images/np_add.svg" alt="">
                                                    <span>Add to compare</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <div class="goto_details">
                                        <div>
                                            <div  *ngIf="showCardDetailsFlag!=i"  (click)="showCardDetails(i+'')">
                                                <img src="../../../assets/images/footer-images/up-arrow.svg" alt="">
                                                <span >More Details</span>
                                            </div>
                                            <div *ngIf="showCardDetailsFlag==i"  (click)="showCardDetails(i+'-')">
                                                <img src="../../../assets/images/main_images/Group_downarrow.svg"
                                                    alt="">
                                                <span >Hide Details</span>
                                            </div>

                                        </div>
                                        <!-- <div>
                                                <img src="../../../assets/images/main_images/Group_instant_approval.svg"
                                                    alt="">
                                                <span>Instant approval</span>
                                            </div> -->
                                    </div>
                                    <div *ngIf="showCardDetailsFlag==i">
                                        <div class="card_details_starts">
                                            <div class="row">
                                                <div class="col-md-12 col-12 mt-3">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4 col-4">
                                                            <div class="inner-block-header">
                                                                <img src="../../../assets/images/main_images/np_airplane.svg"
                                                                    alt="">
                                                                <span>Fees</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-8">
                                                            <div class="row">
                                                                <div class="col-md-4 col-4">
                                                                    <div class="fees-block">
                                                                        <p>Loan amount</p>
                                                                        <span>SAR {{product?.actualLoanAmount}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-4">
                                                                    <div class="fees-block">
                                                                        <p>Max financing amount</p>
                                                                        <span>SAR {{product?.loanMaximumValue}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-4">
                                                                    <div class="fees-block">
                                                                        <p>Early Settelement Fees</p>
                                                                        <span>{{FilterValue(2,product?.fees)}} Months</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12 mt-3" *ngIf="product?.featuresList">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4 col-4">
                                                            <div class="inner-block-header">
                                                                <img src="../../../assets/images/main_images/np_airplane.svg"
                                                                    alt="">
                                                                <span>Features</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-8">
                                                            <ul class="card-details-list">
                                                                <li *ngFor="let val of product?.featuresList">
                                                                    <span
                                                                        class="material-icons custom_check">check</span>
                                                                    <span>{{val}}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12 mt-3" *ngIf="product?.eligibilityCriteriaList">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4 col-4">
                                                            <div class="inner-block-header">
                                                                <img src="../../../assets/images/main_images/np_airplane.svg"
                                                                    alt="">
                                                                <span>Eligibility criteria</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 col-8">
                                                            <ul class="card-details-list">
                                                                <li *ngFor="let val of product?.eligibilityCriteriaList">
                                                                    <span
                                                                        class="material-icons custom_check">check</span>
                                                                    {{val}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="financeProduct?.length==0" class="noDataFound">
                        {{finding ? "Searching....": "No Finance Product Found For Given Data"}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- </section> -->